@import "tailwindcss";


/*
  Define all theme variables here.
  :root contains the default (light mode) values.
*/
:root {
    --background: #f9fbfa;
    --accent: #94e0b1;
    --foreground: #101913;
    --button-text: #101913;
    --muted: #f9fbfa;
    --muted-foreground: #5a8c6d;
    --primary: #94e0b1;
    --primary-foreground: #101913;
    --border: #d3e3d9;
    --placeholder: #5a8c6d;
    --radius: 0.75rem; /* Corresponds to rounded-xl */
    --font: "Lato";
}

/*
  Dark mode.
  When the <html> tag has the 'dark' class, these values will be used.
*/
.dark {
    --background: #141f18;
    --button-text: #141f18;
    --accent: #94e0b1;
    --foreground: #ffffff;
    --muted: #264532;
    --primary: #94e0b1;
    --border: transparent;
    --placeholder: #96c5a8;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font), sans-serif;
    transition: background-color 0.6s ease, color 0.6s ease;
}

@layer components {
    .input-field {
        @apply w-full h-14 rounded-xl p-4 text-base font-normal leading-normal;
        background-color: var(--muted);
        color: var(--foreground);
        border: 1px solid var(--border);
        transition: background-color 0.6s ease,
        color 0.6s ease,
        border-color 0.6s ease,
        border-width 0.6s ease;
    }

    .input-field::placeholder {
        color: var(--placeholder);
        opacity: 1;
        transition: color 0.6s ease;
    }

    .input-field:focus {
        outline: none;
        border-color: var(--border);
        box-shadow: none;
    }

    .dark .input-field:focus {
        border-color: var(--border);
    }

    :not(.dark) .input-field:focus {
        border-width: 2px;
    }
}

@layer components {
    .btn {
        @apply w-full relative inline-flex items-center justify-center overflow-hidden h-12 px-5 text-base font-bold leading-normal tracking-[0.015em] rounded-xl transition-all duration-300 ease-in-out;
        background: linear-gradient(
                to right,
                var(--accent) 0%,
                color-mix(in srgb, var(--accent) 90%, black) 100%
        );
        color: var(--button-text);
        min-width: 84px;
    }

    .btn::before {
        content: '';
        position: absolute;
        inset: 0;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 10%, transparent 10.01%) no-repeat center;
        transform: scale(10);
        opacity: 0;
        transition: transform 0.5s, opacity 1s;
        pointer-events: none;
    }

    .btn:active::before {
        transform: scale(0);
        opacity: 1;
        transition: 0s;
    }

    .btn:hover {
        filter: brightness(1.02);
    }

    .btn:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}
